<a href="https://colab.research.google.com/github/Tina21csu476/RL/blob/main/rl_exp_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
x = 3
type(x)

int

In [10]:
t = False
f = True
print(type(t))
print(not t)
print(not f)
print(t and f)
print(t or f)

<class 'bool'>
True
False
False
True

In [5]:
x = 5
y = 10
z = x+y
print("Addition of {} and {} = {}".format(x,y,z))

Addition of 5 and 10 = 15

In [6]:
l1 = [x for x in range(0,3)]
print(l1)
l1.append(3)
print(l1)

[0, 1, 2]
[0, 1, 2, 3]

In [11]:
l1 = list(range(10))
l2 = l1[2:5]
l2.append(10)
l1[2:5] =[2]
l1

[0, 1, 2, 5, 6, 7, 8, 9]

In [8]:
l1 = list(range(5))
for i in l1:
  print(i)

0
1
2
3
4

In [12]:
animals = ['cat', 'dog', 'monkey']
for idx, animal in enumerate(animals):
  print(idx, animal)

0 cat
1 dog
2 monkey

In [13]:
l1 = list(range(6))
l2 =[]
for i in l1:
  l2.append(i**2)
l2

[0, 1, 4, 9, 16, 25]

In [14]:
even_Sq = [x**2 for x in l1 if x%2==0]
even_Sq

[0, 4, 16]

In [16]:
def sign(x):
  if x>0:
    return "positive"
  elif x<0:
    return "negative"
  else:
    return "zero"

for x in [-1,0,1]:
  print(sign(x))

negative
zero
positive